/**
 * Posts adn Pages
 */
.post {
  margin-bottom: 3.33333em;
  position: relative;
}

.post-header {
  margin-bottom: 1.66667em;
}

.post-title {
  font-size: 2.66667em;
  margin: 0 0 1.66667rem;

  a {
    border: 0;
    color: inherit;

    &:hover {
      color: _palette(accent);
    }
  }
}

.post-subtitle {
  font-size: 1.33333em;
  line-height: 1.5;
}

.post-image {
  margin-bottom: 1.66667em;

  img {
    width: 100%;
  }
}

.post-meta {
  color: _palette(meta);
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 1.66667rem;
  text-transform: uppercase;
}

/* Post feed */
.post-feed-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -0.83333em 1.66667em;
}

.post-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1.66667em;
  width: 50%;

  .post-inside {
    border: 1px solid _palette(border);
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 0.83333em;
    margin-right: 0.83333em;
    overflow: hidden;
  }

  .post-thumbnail {
    border: 0;
    border-radius: 5px 5px 0 0;
    display: block;
    margin: 0;
    position: relative;
    width: 100%;

    &:before {
      content: "";
      display: block;
      padding-top: 66.666%;
    }

    img {
      border-radius: 5px 5px 0 0;
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .post-header {
    margin-bottom: 0.83333rem;
    padding: 1.33333rem 1.33333rem 0;
  }

  .post-title {
    border-bottom: 1px solid _palette(border);
    font-size: 1.33333em;
    margin: 0;
    padding-bottom: 0.83333rem;
  }

  .post-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 16px;
    padding: 0 1.33333rem;
  }

  .post-meta {
    margin: 0;
    padding: 0 1.33333rem 1.33333rem;
  }
}

@media only screen and (max-width: 1000px) {
  .post-title {
    font-size: 2.22222em;
  }

  .post-subtitle {
    font-size: 1.22222em;
  }

  .post-feed-inside {
    margin-left: -1.5vw;
    margin-right: -1.5vw;
  }

  .post-card {
    margin-bottom: 3vw;

    .post-inside {
      margin-left: 1.5vw;
      margin-right: 1.5vw;
    }
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px), only screen and (max-width: 600px) {
  .post-card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
  }
}
