---
layout: body
---

  <article class="post page post-full">
    <header class="post-header inner-sm">
      <h1 class="post-title underline">{{ page.title }}</h1>
      {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %}
      {% if subtitle_is_not_empty %}
      <div class="post-subtitle inner-sm">
        {{ page.subtitle }}
      </div>
      {% endif %}
    </header>
    {% assign img_path_is_not_empty = page.img_path | is_not_empty %}
    {% if img_path_is_not_empty %}
    <div class="post-image">
      <img src="{{ page.img_path | relative_url }}" alt="{{ page.title }}" />
    </div>
    {% endif %}
    <div class="post-content inner-sm">
      {{ content }}
    </div>
  </article><!-- .post -->
